/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*font faces */

@font-face {
  font-family: 'asapbold';
  src: url('fonts/asap-bold-webfont.woff2') format('woff2'),
    url('fonts/asap-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'asap_mediumregular';
  src: url('fonts/asap-medium-webfont.woff2') format('woff2'),
    url('fonts/asap-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'asapregular';
  src: url('fonts/asap-regular-webfont.woff2') format('woff2'),
    url('fonts/asap-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'asap_semiboldregular';
  src: url('fonts/asap-semibold-webfont.woff2') format('woff2'),
    url('fonts/asap-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'canaro_bookbold';
  src: url('fonts/canaro-bold-webfont.woff2') format('woff2'),
    url('fonts/canaro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'canarobook';
  src: url('fonts/canaro-book-webfont.woff2') format('woff2'),
    url('fonts/canaro-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'canaromedium';
  src: url('fonts/canaro-medium-webfont.woff2') format('woff2'),
    url('fonts/canaro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'canarosemibold';
  src: url('fonts/canaro-semibold-webfont.woff2') format('woff2'),
    url('fonts/canaro-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/****************/
/* KLEUR PALLET */
/****************/

:root {
  --brand-color: #009ca6;
  --accent-brand-color: #008C95;

  --header-not-active-color: #cfebed;
  --nav-bar-background: #f2f2f2;
  --review-section-background: #f5f5f5;

  --main-text-color: #1c1c1c;
  --main-secondary-text-color: #4a4a4a;
  --main-tertiary-text-color: #504e48;
  --accent-text-color: #ffffff;
  --placeholder-color: #A3A3A3;
  --ons-assortiment-border-color: #d8d8d8;
  --over-ons-a-hover-color: #333;

  --product-page-h1: #15120a;
  --product-page-3-usp-background:hsla(0,0%,95%,.5);
  --product-page-amount-counter-border: #ccc;
  --product-page-detail-text-color: #8a8884;
  --product-on-stock-text-color: #389644;
  --mobile-product-page-cta-bar-border:#ddd;
  --mobile-product-page-cta-button-color: #ff7300;

  --mobile-menu-border-color: #cecece;
  --mobile-menu-last-ul-text-color: #a8a7a4;

  --img-gradient: rgba(0, 0, 0, .5);
  --cart-cta-button-box-shadow:rgb(0 0 0 / 20%); 
}


/**********/
/*ALGEMEEN*/
/**********/

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/*********/
/* HEADER*/
/*********/


/*************/
/* header-top*/
/*************/

header {
  background-color: var(--brand-color);
}

header>section:first-of-type {
  background-color: var(--accent-brand-color);
  display: flex;
  justify-content: center;

}

header>section:first-of-type ul li,
header>section:first-of-type ul li a {
  color: var(--accent-text-color);
  font-family: 'asapregular', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  text-decoration: none;
}

header>section:first-of-type div {
  display: flex;
  min-height: 1.8em;
  align-items: center;
}

header>section:first-of-type ul {
  display: flex;
  justify-content: center;

  gap: 2em;
  padding: 0.25em 0em;
  width: 100%;
}

header>section:first-of-type ul li {
  display: none;
  flex-shrink: 0;
  align-items: center;
  gap: 0.2em;
}

header>section:first-of-type ul li:nth-of-type(5) {
  margin-left: auto;
}

header>section:first-of-type ul li:first-of-type:hover,
header>section:first-of-type ul li:nth-of-type(4):hover,
header>section:first-of-type ul li:nth-of-type(5):hover,
header>section:first-of-type ul li:last-of-type:hover {
  text-decoration: underline var(--accent-text-color);

}



header>section:first-of-type ul li:first-of-type a:focus,
header>section:first-of-type ul li:nth-of-type(4) a:focus,
header>section:first-of-type ul li:nth-of-type(5) a:focus,
header>section:first-of-type ul li:last-of-type a:focus {
  outline: .2em solid var(--accent-text-color);
  transition: .3s;
  border-radius: .2em;
}

/*bron https://piccalil.li/quick-tip/add-inline-svg-directly-in-your-css/ */
header>section:first-of-type ul li::before {
  content: '';
  flex-shrink: 0;

  width: 0.875em;
  height: 0.875em;
  background-size: cover;
}

header>section:first-of-type ul li:first-of-type::before {
  background-image: url('icons/header-icons/phone-icon.svg');
}

header>section:first-of-type ul li:nth-of-type(2)::before {
  background-image: url('icons/header-icons/truck-icon.svg');
}

header>section:first-of-type ul li:nth-of-type(3)::before {
  background-image: url('icons/header-icons/truck-icon.svg');
}

header>section:first-of-type ul li:nth-of-type(4)::before {
  background-image: url('icons/header-icons/star-icon.svg');
}

header>section:first-of-type ul li svg {
  fill: var(--accent-text-color);
  width: 12px;
  height: auto;
}


/*************/
/* header-nav*/
/*************/

header nav {
  padding: 1em 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

header>nav button {
  width: 2.5em;
  height: 2.5em;

  padding-left: 2.5em;

  overflow: hidden;
  background-color: var(--brand-color);
  background-image: url('icons/header-icons/hamburger-icon.svg');
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: center;
  border: none;
  z-index: 1;

}


header nav>img {
  height: 1em;
  width: auto;
  padding-left: 1em;
  margin-right: auto;
}

header nav>ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.875em;
}


header nav>input {
  padding: .875em 2.5em .875em 1em;
  margin-top: 0.5em;
  border-radius: 0.25em;
  border: transparent;
  width: 100%;
  background-image: url('icons/header-icons/search-icon.svg');
  background-repeat: no-repeat;
  /* icon gaat 100% naar rechts en .25em naar links* Bron: Sanne 't Hoofdt*/
  background-position: calc(100% - .45em) center;
  background-size: 1.8em auto;
}

header nav>input:focus {
  outline: 5px auto var(--main-text-color);
}

header nav>input::placeholder {
  color: var(--placeholder-color);
  font-size: 0.85rem;
  -webkit-font-smoothing: antialiased;
}


header nav>section:last-of-type {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  max-width: 21.5em;

  background-color: var(--accent-text-color);
  opacity: 0;
}

/* mobile nav begin */

header nav section:last-of-type.openMenu {
  opacity: 1;
  transition: 0.2s;
  z-index: 2;
}

header>nav>section>button {
  display: block;
  background-image: url('icons/header-icons/cross_icon.svg');
  z-index: 2;
  position: absolute;
  right: 1em;
  top: 0.55em;
  background-size: 1.8em;
  outline: transparent;
}

header nav>section:last-of-type h3 {
  font-family: 'asapregular', sans-serif;
  font-weight: 200;
  padding: 0.625em 0em 0.625em 0.875em;
  color: var(--accent-text-color);
  background-color: var(--brand-color);
}

header nav>section:last-of-type ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0em 1em 0em 1em;

  list-style: none;
}

header nav>section:last-of-type ul:first-of-type li {
  padding: .875em 0em .875em 0em;
}

header nav>section:last-of-type ul:first-of-type li:not(:last-of-type) {
  border-bottom: .0625em solid var(--mobile-menu-border-color);
}


header nav>section:last-of-type ul:first-of-type li a {
  color: var(--main-tertiary-text-color);
  font-family: 'asapregular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

header nav>section:last-of-type ul:first-of-type li a:focus-visible {
  outline: var(--accent-text-color) .2em auto;
  transition: .3s;
}

header nav>section:last-of-type ul:last-of-type {
  justify-content: flex-end;
  flex-grow: 1;
  gap: .725em;
  padding-bottom: 1.8em;
}

header nav>section:last-of-type ul:last-of-type li {
  display: flex;
  align-items: center;
}

header nav>section:last-of-type ul:last-of-type li a {
  color: var(--mobile-menu-last-ul-text-color);
  text-decoration: none;
  font-family: 'asapregular';
  -webkit-font-smoothing: antialiased;
}

header nav>section:last-of-type ul:last-of-type li:before {
  content: '';
  flex-shrink: 0;

  width: 1em;
  height: 1em;
  background-size: cover;
}

header nav>section:last-of-type ul:last-of-type li:first-of-type::before {
  background-image: url('icons/header-icons/pin-icon.svg');
}

header nav>section:last-of-type ul:last-of-type li:nth-of-type(2)::before {
  background-image: url('icons/header-icons/phone-icon-mobile-nav.svg');
}

header nav>section:last-of-type ul:last-of-type li:last-of-type::before {
  background-image: url('icons/header-icons/questionmark-icon.svg');
}

/* mobile nav eind */

header nav>ul a img:hover {
  transform: scale(1.2);
  transform: .3s;
}

header nav>ul a img:focus-visible {
  outline: transparent;
  appearance: none;
}

header nav>ul a:focus-visible {
  outline: var(--accent-text-color) .2em auto;
  transition: .3s;
}

/******/
/*MAIN*/
/******/





/**********/
/* @media */
/**********/

@media screen and (max-width:47.9375em) {
  header section:first-of-type ul li:nth-of-type(3) {
    display: flex;
  }
}

@media screen and (min-width:48em) {

  header section:first-of-type ul li,
  header section:first-of-type div>p {
    display: flex;
  }

  header nav {
    gap: 1em;
    flex-wrap: nowrap;
  }

  header nav>img {
    margin-right: 0;
  }

  header nav>input {
    margin: 0 0 0 auto;
    max-width: 26.8em;
  }

  header nav>ul {
    order: 2;
  }

  header nav>section:last-of-type h3,
  header nav>section:last-of-type ul:last-of-type,
  header nav button {
    display: none;
  }

  header nav>section:last-of-type {
    transition: none;
    position: static;
    flex-direction: row;
    background-color: transparent;
    max-width: 100%;
    opacity: 1;
  }

  header nav>section:last-of-type ul:first-of-type {
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: 1em;

  }

  header nav>section:last-of-type button {
    display: none;
  }

  header nav>section:last-of-type ul:first-of-type li {
    padding: 0em;
  }

  header nav>section:last-of-type ul:first-of-type li:not(:last-of-type) {
    border-bottom: transparent;
  }

  header nav>section:last-of-type ul:first-of-type li a {
    color: var(--header-not-active-color);
    font-family: "canarosemibold", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1.3rem;
  }

  header nav>section:last-of-type ul:first-of-type li:first-of-type a {
    color: var(--accent-text-color);
  }

  header nav>section:last-of-type ul:first-of-type li a:hover {
    color: var(--accent-text-color);
  }

  header nav>section:last-of-type ul:first-of-type li:last-of-type a {
    font-family: 'Caveat', 'cursive', sans-serif;
    font-size: 1.7em;
  }
}


@media screen and (min-width:68em) {
  main>section:nth-of-type(4) div p {
    display: block;
  }
}


@media screen and (min-width:80em) {

  .container {
    max-width: 72em;
    width: 72em;
    margin: auto;
  }

  header nav>img {
    height: 1.5em;
  }
}

@media screen and (min-width:92em) {
  .container {
    width: 84em;
    max-width: 84em;
  }

  main>section:nth-of-type(2),
  main>section:nth-of-type(3),
  main>Section:nth-of-type(4),
  main>article:first-of-type {
    padding: 0em;
  }
}